on:
  workflow_dispatch:
  push:
  schedule:
   - cron: "0 0 * * *"  # scheduled at 8:00 (UTC+8) everyday
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: 
          pip3 install -r requirements.txt -i https://pypi.douban.com/simple
          pip3 install requests[security]
      - name: Working
        env: 
          SCKEY: ${{ secrets.SCKEY }}
          PHONE: ${{ secrets.PHONE }}
          PASS: ${{ secrets.PASS }}
        run: |
          python main.py 
